<div class="container" align = "center">
  <h3><a href="/posts">Home</a></h3>
<h1>Profile</h1>
<% if @updated %>
  <p>profile updated successfully!</p>
<% end %>


<p>Username: <%=@user.username%></p>



</div>
