<form action="/new" method="post">
      <p>
        <input type="text" name="title" placeholder="Title of Question">
      </p>

      <p>
        <textarea rows="5" cols="50" type="text" name="content" placeholder="Type Your Question Here"></textarea>
      </p>

  <button type="submit" name="action">Ask Question</button>
</form>
