<form action="/new" method="post">
      <p>
        <input type="text" name="title" placeholder="Title of Question?">
      </p>

      <p>
        <input type="text" name="content" placeholder="Type your question here.">
      </p>

  <button type="submit" name="action">Ask Question</button>
</form>
